@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Image Tools</h1>
    <p class="lead">Web API tools for image manipulations.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">See more on GitHub&raquo;</a></p>
</div>
